 i {
  margin-right: 10px;
}
.logo {
  padding: 0.5rem 0 0.5rem 1rem;
  color: white;
  pointer-events: none;
  text-decoration: none;
  margin-right: 45rem;
  font-size: 2rem;
}

.nav-item:hover {
  color: white !important;
}

.navbar-mainbg {
  /* background-color: #000000; */
  padding: 0rem !important;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0rem;
  margin: 0rem;
}
#navbarSupportedContent ul li a i {
  margin-right: 0.625rem;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 0.9375rem;
  display: block;
  padding: 1.25rem 1.25rem;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: #000000;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 1.25rem;
  top: 0.625rem;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 0.1875rem;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0rem;
  left: 0rem;
  transition-duration: 0.6s;
  /* transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  background-color: transparent;
  border-radius: 0.9375rem;
  margin-top: 0.625rem;
}
.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  /* background-color: #fff; */
  bottom: 0.625rem;
}
.hori-selector .right {
  right: -1.5625rem;
}
.hori-selector .left {
  left: -1.5625rem;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  /* border-radius: 50%; */
  background-color: #000000;
}
.hori-selector .right:before {
  bottom: 0;
  right: -1.5625rem;
}
.hori-selector .left:before {
  bottom: 0;
  left: -1.5625rem;
}
@media (min-width: 768px) {
  .logo {
    margin-right: 17rem;
  }
}
@media (min-width: 900px) {
  .logo {
    margin-right: 20rem;
  }
}
@media (min-width: 1100px) {
  .logo {
    margin-right: 23rem;
  }
}
@media (min-width: 1300px) {
  .logo {
    margin-right: 26rem;
  }
}
@media (max-width: 61.9375rem) {
  .logo {
    margin-right: 0;
  }
  #navbarSupportedContent ul li a {
    padding: 0.75rem 1.875rem;
  }
  .hori-selector {
    margin-top: 0rem;
    margin-left: 0.625rem;
    border-radius: 1.5625rem;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 0.625rem;
  }
  .hori-selector .left {
    top: -1.5625rem;
    left: auto;
  }
  .hori-selector .right {
    bottom: -1.5625rem;
  }
  .hori-selector .left:before {
    left: -1.5625rem;
    top: -1.5625rem;
  }
  .hori-selector .right:before {
    bottom: -1.5625rem;
    left: -1.5625rem;
  }
}
